<navigation></navigation>
<div class="container">
    
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Actor Id</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let actor of actors" class="table table-striped table-bordered">
                <td>{{actor.actor_id}}</td>
                <td>{{actor.first_name}}</td>
                <td>{{actor.last_name}}</td>
            </tr>
        </tbody>
    </table>
</div>